html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 20px;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .about {
      text-align: center;
  }