html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

/* Nav bar */

.navbar-brand {
text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  margin: 10px 0 2px;
}

.nav-link  {
text-transform: uppercase;
letter-spacing: 2px;
font-size: 20px;
margin: 8px 2px 2px;
} 

.nav-item a:hover {
color: #EBC2EB !important;
}

.navbar-brand {
font-size: 1.7rem;
font-weight: 600;
}

/* Jumbotron  */
.home-section {
  height: 80vh;
  width: 100%;
  background: linear-gradient(rgba(0.5,0.5,0.5,0.5), rgba(0.5,0.5,0.5,0.5)), url(..assets/images/meditation-1.jpg) no-repeat fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: 20%;
}

.jumbotron-custom {
background-color: #ffffff00;
color: white;
}

.jumbotron-content {
  background-color: transparent;
  margin-top: 2rem;
  -ms-flex-line-pack: center;
  align-content: center;
}

.jumbotron-content h1 {
  font-size: 2rem;
}

.jumbotron-button {
  margin-top: 30px;
}

/* About section */
/* 
.about-heading {
font-weight: 400;
text-align: center;
font-size: 28px;
line-height: 1.4;
position: relative;
} */

.about-section {
text-align: center;
margin: 20px auto; 
font-size: 22px;
line-height: 1.4;
}

/* how it works section */

#works-section {
background-color: #ebc2eb4f;
}

.works-heading{
font-weight: 400;
text-align: center;
font-size: 28px;
line-height: 1.4;
position: relative;
}
.works-section{
/* background-color: #F5E0F5; */
margin: 20px auto; 
font-size: 16px;
line-height: 1.4;
}

.works-reasons h3 {
font-size: 22px;
font-weight: 400;
}
.works-reasons {
font-size: 16px;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

/* Meet the team */

.team-heading {
font-weight: 400;
text-align: center;
font-size: 28px;
line-height: 1.4;
position: relative;
}

.team-section {
margin: auto;
}

.card {
display: inline-flex;
} 

.card-body {
font-size: 18px;
text-align: left;
}

.card-title {
font-size: 16px;
text-align: center;
}

.card-text {
font-size: 14px;
text-align: left;
}

.display-5 {
font-size: 2.5rem;
line-height: 1.2;
}

/* colors, headings, buttons, spacing, divider */
.btn-light-blue {
background-color: #6eb9ff;
border-color: transparent;
color: white;
text-transform: uppercase;
letter-spacing: 2px;
padding: 15px 30px;
font-weight: 600;
}
.btn-light-blue:hover {
background-color: #FAA2FB;
border-color: transparent;
color: #6efffa;
}

.divider-section {
width: 20%;               
background: #EBC2EB;
height: 2px;
margin-top: 1rem;
}

section {
padding-top: 5rem;
}


h2, h3 {
/* color: #6eb9ff; */
font-weight: 600;
}
/* footer */

footer {
padding-top: 30px;
background-color: #EBC2EB;
/* color:  */
}

footer a {
color: black;
text-decoration:none;
}

footer a:hover, footer a:focus {
color: #aaa;
text-decoration:none;
border-bottom:1px dotted black;
}

footer .form-control {
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}

/* back to top button */
#returnToTop {
display: none;
position: fixed;
bottom: 5rem;
right: 1.2rem;
font-size: 3rem;
text-align: center;
cursor: pointer;
background: no-repeat;
z-index: 99;
padding-bottom: 20px;
}

#returnToTop:hover {
opacity: 1;
}

.bttt-button,
.bttt-button:hover {
color: #000000;
}

/* Log-in form */

/* .form-group {
width: 60%;
margin-left: auto;
margin-right: auto;
} */

#log-in-form .form-control {
width: 60%;
margin-left: auto;
margin-right: auto;
}


.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.img-brand {
  height: 2.75rem;
}